article.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element minOccurs="1" maxOccurs="unbounded" name="article">
	<xs:annotation>
	  <xs:documentation>
			Элемент, включающий в себя список элементов, значения которых содержат данные о статье выпуска. Является обязательным для использования. Внимание! Порядок элементов внутри элемента "article" должен соответствовать тому порядку, в котором они представлены в XSD-схеме. Если какого-то элемента нет, то его можно пропустить.
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <!-- <xs:sequence> -->
	  <xs:choice maxOccurs="unbounded">
		<xs:element minOccurs="1" maxOccurs="1" name="pages" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
					Элемент, значение которого содержит диапазон страниц статьи. Является обязательным для заполнения. Диапазон страниц может быть в двух форматах: <p>1. Без использования букв в страницах.</p><p>2. Использование только букв в страницах (без цифр).</p><p>Допускается использование страницы через запятую, например: 7-8, 27</p></xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element minOccurs="1" maxOccurs="1" name="artType" type="typeArticleType">
		  <xs:annotation>
			<xs:documentation>
					Элемент, значение которого это – тип статьи. Тип статьи указывается в трёхбуквенном виде (см. справочник typeArticleType). Является обязательным для заполнения. 
				</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="langPubl" type="typeLang">
		  <xs:annotation>
			<xs:documentation>
					Элемент, значение которого содержит язык статьи в трёхбуквенном коде (см. справочник typeLang). Является обязательным для заполнения.   
				</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="authors">
		  <xs:annotation>
			<xs:documentation>
				Элемент, который содержит всех авторов, в том числе рецензентов, редакторов и т.д. 
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" name="author">
				<xs:annotation>
				  <xs:documentation>
						Элемент, который содержит данные об авторе. У этого элемента есть обязательный атрибут num, значение которого содержит порядковый номер автора. Также у этого элемента есть необязательный атрибут id, значение которого –это идентификатор автора в elibrary. Если указан элемент authors, то использование элемента author обязательно.   
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
				  <xs:sequence>
					<xs:choice maxOccurs="unbounded">
					  <xs:element name="role" type="typeRole">
						<xs:annotation>
						  <xs:documentation>
									Элемент, который содержит роль автора (редактор, рецензент и т.д.). Если элемент отсутствует, то автор просто автор. Значение элемента – это числовой идентификатор. Идентификаторы роли представлены в справочнике typeRole 
								</xs:documentation>
						</xs:annotation>
					  </xs:element>
					  <xs:element name="correspondent" type="typeCorrespondent">
						<xs:annotation>
						  <xs:documentation>
									Автор-корреспондент   
								</xs:documentation>
						</xs:annotation>
					  </xs:element>
					  <xs:element name="authorCodes">
						<xs:annotation>
						  <xs:documentation>
								Элемент, который содержит идентификационные коды автора. 
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
						  <xs:sequence>
							<xs:choice maxOccurs="unbounded">
							  <xs:element name="researcherid" type="xs:string">
								<xs:annotation>
								  <xs:documentation>
										Элемент, содержащий researcherId автора
									</xs:documentation>
								</xs:annotation>
							  </xs:element>
							  <xs:element name="spin" type="xs:string">
								<xs:annotation>
								  <xs:documentation>
										Элемент, содержащий спин-код автора. Формат спин-кода: XXXX-XXXX, где X – это число
									</xs:documentation>
								</xs:annotation>
							  </xs:element>
							  <xs:element name="scopusid" type="xs:string">
								<xs:annotation>
								  <xs:documentation>
										элемент, содержащий scopusId автора
									</xs:documentation>
								</xs:annotation>
							  </xs:element>
							  <xs:element name="orcid" type="xs:string">
								<xs:annotation>
								  <xs:documentation>
										Элемент, содержащий orcid автора
									</xs:documentation>
								</xs:annotation>
							  </xs:element>
							</xs:choice>
						  </xs:sequence>
						</xs:complexType>
					  </xs:element>
					  <xs:element minOccurs="1" maxOccurs="3" name="individInfo">
						<xs:annotation>
						  <xs:documentation>
								Элемент, содержащий индивидуальные сведения об авторе. В атрибуте lang этого элемента обязательно указывается язык в трёхбуквенном коде, на котором написаны индивидуальные сведения об авторе(на каком языке отображать метаданные). Атрибут lang обязателен для использования  
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
						  <xs:all>
							<xs:element minOccurs="1" maxOccurs="1" name="surname">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит фамилию автора. Элемент является обязательным для заполнения.
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="initials">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит инициалы автора.
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="address">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит адрес организации, если адресов несколько, то они указываются через точку с запятой. 
										Внимание, это текстовое поле, теги(элементы) автоматически удаляются и остаётся только текст.
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="town">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит город организации, если городов несколько, то они указываются через точку с запятой. 
										Внимание, это текстовое поле, теги(элементы) автоматически удаляются и остаётся только текст.
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="country">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит название страны организации, если стран несколько, то они указываются через точку с запятой. 
										Внимание, это текстовое поле, теги(элементы) автоматически удаляются и остаётся только текст.
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="otherInfo">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит другие сведения об авторе
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
								  <xs:choice maxOccurs="unbounded">
									<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								  </xs:choice>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="comment">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит текст рецензии автора. Рецензия загружается в базу данных, если в элементе role указано значение «рецензент». 
										Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup, br
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:choice maxOccurs="unbounded">
								  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								</xs:choice>
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="commentDate" type="xs:string">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит дату написания рецензии. Дата должна быть следующего формата «дд.мм.гггг»
									</xs:documentation>
							  </xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="orgName">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит название организации, если организаций несколько, то они указываются через точку с запятой
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:choice maxOccurs="unbounded">
								  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								</xs:choice>
								<xs:attribute name="notAuthentic" type="xs:unsignedByte" use="optional" />
							  </xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="email">
							  <xs:annotation>
								<xs:documentation>
										Элемент, значение которого содержит электронную почту автора
									</xs:documentation>
							  </xs:annotation>
							  <xs:complexType mixed="true">
								<xs:choice maxOccurs="unbounded">
								  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								</xs:choice>
								<xs:attribute name="notAuthentic" type="xs:unsignedByte" use="optional" />
							  </xs:complexType>
							</xs:element>
						  </xs:all>
						  <xs:attribute name="lang" type="typeLang" use="required">
							<xs:annotation>
							  <xs:documentation>
										Атрибут lang элемента individInfo. В атрибуте lang обязательно указывается язык в трёхбуквенном коде, на котором написаны индивидуальные сведения об авторе(на каком языке отображать метаданные). Атрибут lang обязателен для использования
									</xs:documentation>
							</xs:annotation>
						  </xs:attribute>
						</xs:complexType>
					  </xs:element>
					</xs:choice>
				  </xs:sequence>
				  <xs:attribute name="id" type="typeIntegerOrEmpty">
					<xs:annotation>
					  <xs:documentation>
							Атрибут, значение которого содержит идентификатор автора (authorId) на сайте elibrary.ru. На данный момент authorId больше не загружается в базу данных.  
						</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				  <xs:attribute name="num" type="xs:unsignedInt" use="required">
					<xs:annotation>
					  <xs:documentation>
							Атрибут, значение которого содержит порядковый номер автора в статье.
						</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="1" maxOccurs="3" name="artTitles">
		  <xs:annotation>
			<xs:documentation>
				Элемент, содержит названия статьи на разных языках. Обязателен для использования   
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element minOccurs="1" maxOccurs="unbounded" name="artTitle">
				<xs:annotation>
				  <xs:documentation>
						Элемент, значение которого содержит название статьи. У этого элемента есть обязательный атрибут lang. 
						Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup, br  
					</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
				  <xs:choice maxOccurs="unbounded">
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
				  </xs:choice>
				  <xs:attribute name="lang" type="typeLang" use="required">
					<xs:annotation>
					  <xs:documentation>
							Атрибут lang, значение которого содержит язык названия статьи в трёхбуквенном коде (см. справочник typeLang)   
						</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="abstracts">
		  <xs:annotation>
			<xs:documentation>
					Элемент, включающий в себя элементы аннотаций на разных языках 
				</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element minOccurs="0" maxOccurs="unbounded" name="abstract">
				<xs:annotation>
				  <xs:documentation>
						Элемент, значение которого содержит текст аннотации. У элемента есть обязательный атрибут lang.
						Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup, br
					</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
				  <xs:choice maxOccurs="unbounded">
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
				  </xs:choice>
				  <xs:attribute name="lang" type="typeLang" use="required">
					<xs:annotation>
					  <xs:documentation>
							Атрибут lang, значение которого содержит язык аннотации статьи в трёхбуквенном коде (см. справочник typeLang)   
						</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="1" maxOccurs="unbounded" name="text">
		  <xs:annotation>
			<xs:documentation>
				Элемент, значение которого содержит неформатированный текст публикации. У элемента есть атрибут lang.
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
			  <xs:choice maxOccurs="unbounded">
				<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
			  </xs:choice>
			</xs:sequence>
			<xs:attribute name="lang" type="typeLang">
			  <xs:annotation>
				<xs:documentation>
							Атрибут lang, значение которого содержит язык неформатированного текста в трёхбуквенном коде (см. справочник typeLang)   
						</xs:documentation>
			  </xs:annotation>
			</xs:attribute>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="codes">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя список элементов, значения которых содержат коды статьи
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:choice maxOccurs="unbounded">
				<xs:element minOccurs="0" maxOccurs="1" name="doi" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код DOI
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="edn" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код EDN (eLIBRARY Document Number). Содержит шесть латинских символов.
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="udk" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код УДК
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="bbk" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код ББК
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="vak" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код ВАК (Высшей аттестационной комиссии) в старой номенклатуре специальностей. Код ВАК содержит только шифр научной специальности. 
							Пример использования элемента: 
							&lt;vak&gt;5.9.5.&lt;/vak&gt; - код ВАК "Русский язык. Языки народов России"												
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="vak21" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код ВАК (Высшей аттестационной комиссии) в новой номенклатуре специальностей, принятой в 2021 году. Код ВАК содержит только шифр научной специальности. 
							Пример использования элемента: 
							&lt;vak21&gt;5.9.5.&lt;/vak21&gt; - код ВАК "Русский язык. Языки народов России" 
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="jel" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код JEL
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="msc" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код MSC
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="pacs" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит код PACS
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="anycode" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит другие коды статьи. ВНИМАНИЕ! К другим кодам не относятся рубрики ГРНТИ. Для рубрик есть отдельный контейнер rubrics. 
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
			  </xs:choice>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="keywords">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя элементы групп ключевых слов на разных языках
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" name="kwdGroup">
				<xs:annotation>
				  <xs:documentation>
						Элемент, содержащий элементы ключевых слов. У элемента есть обязательный атрибут lang. Внимание! Теперь в атрибуте lang нельзя указывать значение "ANY" или "UNK". 
						Если есть ключевые слова для русских метаданных, то должен быть атрибут lang со значением "RUS"
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
				  <xs:sequence>
					<xs:element maxOccurs="unbounded" name="keyword">
					  <xs:annotation>
						<xs:documentation>
								Элемент, значение которого содержит ключевое слово. 
								Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup
							</xs:documentation>
					  </xs:annotation>
					  <xs:complexType mixed="true">
						<xs:sequence maxOccurs="unbounded">
						  <xs:choice maxOccurs="unbounded">
							<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
						  </xs:choice>
						</xs:sequence>
					  </xs:complexType>
					</xs:element>
				  </xs:sequence>
				  <xs:attribute name="lang" type="typeLang" use="required">
					<xs:annotation>
					  <xs:documentation>
							 Атрибут lang, в значении которого указывается язык ключевых слов в трёхбуквенном коде (см. справочник typeLang»)
						</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="references">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя список элементов, значения которых содержат ссылки на источники литературы
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" name="reference">
				<xs:annotation>
				  <xs:documentation>
						Элемент, включающий в себя список элементов, значения которых содержат данные о ссылке на источник литературы
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
				  <xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="refInfo">
					  <xs:annotation>
						<xs:documentation>
								Элемент, включающий в себя полный(неразобранный) текст ссылки и элементы разбора ссылки. У элемента есть обязательный атрибут lang.
							</xs:documentation>
					  </xs:annotation>
					  <xs:complexType>
						<xs:sequence>
						  <xs:element minOccurs="1" maxOccurs="1" name="text">
							<xs:annotation>
							  <xs:documentation>
									Элемент, значение которого содержит полный текст ссылки. Обязателен для заполнения. 
									Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup, br
								</xs:documentation>
							</xs:annotation>
							<xs:complexType mixed="true">
							  <xs:sequence maxOccurs="unbounded">
								<xs:choice maxOccurs="unbounded">
								  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
								</xs:choice>
							  </xs:sequence>
							</xs:complexType>
						  </xs:element>
						  <xs:element name="elements" minOccurs="0">
							<xs:annotation>
							  <xs:documentation>
									Элемент содержит элементы структурированной ссылки
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
							  <xs:sequence>
								<xs:element maxOccurs="unbounded" name="element">
								  <xs:annotation>
									<xs:documentation>
										Элемент, значение которого содержит значение элемента структурированной ссылки. У элемента обязательно есть атрибут field.
									</xs:documentation>
								  </xs:annotation>
								  <xs:complexType mixed="true">
									<xs:choice maxOccurs="unbounded">
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="br">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="BR">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="I">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="b">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="B">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="sub">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="sup">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="SUB">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="SUP">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="tex">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="TEX">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									  <xs:element minOccurs="0" maxOccurs="unbounded" name="i">
										<xs:complexType mixed="true">
										  <xs:sequence maxOccurs="unbounded">
											<xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="I" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sup" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUP" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="sub" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="SUB" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="br" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="BR" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="b" type="xs:string" />
											<xs:element minOccurs="0" maxOccurs="unbounded" name="B" type="xs:string" />
										  </xs:sequence>
										</xs:complexType>
									  </xs:element>
									</xs:choice>
									<xs:attribute name="field" type="typeElement" use="required">
									  <xs:annotation>
										<xs:documentation>
													Атрибут field, значение которого содержит название элемента структурированной ссылки (см. справочник typeElement)
												</xs:documentation>
									  </xs:annotation>
									</xs:attribute>
								  </xs:complexType>
								</xs:element>
							  </xs:sequence>
							</xs:complexType>
						  </xs:element>
						</xs:sequence>
						<xs:attribute name="lang" type="typeLang" use="required">
						  <xs:annotation>
							<xs:documentation>
									 Атрибут lang, значение которого содержит язык ссылки в трёхбуквенном коде (см. справочник typeLang)
								</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
					  </xs:complexType>
					</xs:element>
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="files">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя список элементов, значения которых содержат файлы, прикрепляемые к статье 
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:choice maxOccurs="unbounded">
				<xs:element minOccurs="0" maxOccurs="unbounded" name="file">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит название файла. У элемента есть обязательный атрибут desc.
						</xs:documentation>
				  </xs:annotation>
				  <xs:complexType>
					<xs:simpleContent>
					  <xs:extension base="xs:string">
						<xs:attribute name="desc" type="typeFileDesc" use="optional">
						  <xs:annotation>
							<xs:documentation>
										 Атрибут desc, значение которого содержит тип файла (см. справочник typeFileDesc)
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
						<xs:attribute name="lang" type="typeLang" use="optional">
						  <xs:annotation>
							<xs:documentation>
										Атрибут lang элемента file. В атрибуте lang указывается язык файла в трёхбуквенном коде. Атрибут lang используется опционально
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
					  </xs:extension>
					</xs:simpleContent>
				  </xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="furl">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит ссылку на полный текст на внешнем сайте
						</xs:documentation>
				  </xs:annotation>
				  <xs:complexType>
					<xs:simpleContent>
					  <xs:extension base="xs:string">
						<xs:attribute name="lang" type="typeLang" use="optional">
						  <xs:annotation>
							<xs:documentation>
										Атрибут lang элемента furl. В атрибуте lang указывается язык файла в трёхбуквенном коде. Атрибут lang используется опционально
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
						<xs:attribute name="desc" type="typeUrlDesc" use="optional">
						  <xs:annotation>
							<xs:documentation>
										 Атрибут desc, значение которого содержит тип файла (см. справочник typeUrlDesc)
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
						<xs:attribute name="location" type="xs:string" use="optional">
						  <xs:annotation>
							<xs:documentation>
										 Атрибут location (ЯВЛЯЕТСЯ УСТАРЕВШИМ И НЕ ИСПОЛЬЗУЕТСЯ), значение которого содержит место размещения pdf-файла.
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
						<xs:attribute name="version" type="xs:string" use="optional">
						  <xs:annotation>
							<xs:documentation>
										 Атрибут version (ЯВЛЯЕТСЯ УСТАРЕВШИМ И НЕ ИСПОЛЬЗУЕТСЯ), значение которого содержит версию pdf-файла.
									</xs:documentation>
						  </xs:annotation>
						</xs:attribute>
					  </xs:extension>
					</xs:simpleContent>
				  </xs:complexType>
				</xs:element>
			  </xs:choice>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="rubrics">
		  <xs:annotation>
			<xs:documentation>
					Элемент, включающий в себя список элементов, значения которых содержат рубрики ГРНТИ
				</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" name="rubric" type="xs:string">
				<xs:annotation>
				  <xs:documentation>
								Элемент, значение которого содержит код рубрики
							</xs:documentation>
				</xs:annotation>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="dates">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя список элементов, значения которых содержат список дат
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:choice maxOccurs="unbounded">
				<xs:element minOccurs="0" maxOccurs="1" name="dateReceived" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит дату поступления статьи в редакцию. Дата должна быть следующего формата «дд.мм.гггг» 
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="dateAccepted" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит дату принятия статьи в печать. Дата должна быть следующего формата «дд.мм.гггг» 
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="datePublication" type="xs:string">
				  <xs:annotation>
					<xs:documentation>
							Элемент, значение которого содержит дату публикации статьи. Дата должна быть следующего формата «дд.мм.гггг» 
						</xs:documentation>
				  </xs:annotation>
				</xs:element>
			  </xs:choice>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" maxOccurs="1" name="fundings">
		  <xs:annotation>
			<xs:documentation>
				Элемент, включающий в себя список элементов, значения которых содержат сведения о финансовой поддержке статьи
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element minOccurs="0" maxOccurs="unbounded" name="funding">
				<xs:annotation>
				  <xs:documentation>
						Элемент, значение которого содержит финансовую поддержку статьи. У этого элемента есть обязательный атрибут lang.
						Внутри этого элемента допустимо использование следующих элементов: i, b, sub, sup, br
					</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
				  <xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:choice maxOccurs="unbounded">
					  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
					</xs:choice>
				  </xs:sequence>
				  <xs:attribute name="lang" type="typeLang" use="required">
					<xs:annotation>
					  <xs:documentation>
								Атрибут lang, в значении которого указывается язык финансовой поддержки в трёхбуквенном коде (см. справочник typeLang)
							</xs:documentation>
					</xs:annotation>
				  </xs:attribute>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	  </xs:choice>
	  <!-- </xs:sequence> -->
	</xs:complexType>
  </xs:element>
</xs:schema>